# Data Science Tools and Ecosystem

In this Notebook Data science tools and Ecosystem are summarized

Some of the Commonly used Libraries <br>
1. Pandas
2. Jupyter
3. R

Some of the Commonly used Libraries used by data scientist includes<br>
1. Pandas
2. Jupyter
3. R

| Data Science Tools |
|--------------------|
| Matlab |
| GGPlot |
| Excel |
| Tableau |
| D3 |

### Below are the few examples of Arithmetic Expression

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335


**OBJECTIVES** <br>
List of popular languages of Data Science <br>
* C
* Python
* R

## AUTHOR <br>
ASWATHY